*{
    margin: 0;
    padding: 0;

}

body{
    background-color: rgb(237, 234, 24);
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}


.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
   height: 18vmin;
   width: 18vmin;
   border-radius: 1rem;
   border: none;
   box-shadow: 0 0 1rem rgba(109, 93, 93, 0.3);
   font-size: 8vmin;
   color: rgba(255, 255, 255, 0.848);
   background-color: rgba(46, 39, 33, 0.199);
}



#reset-btn{
     padding: 1rem;
     font-size: 1.14rem;
     background-color: rgb(14, 8, 8);
     color: rgb(255, 255, 255);
     border-radius: 10px;
}

#new-btn{
    padding: 1rem;
    font-size: 1.14rem;
    background-color: rgb(14, 8, 8);
    color: white;
    border-radius: 10px;
    border: none;
}

#msg{
    color: white;
    font-size: 8vmin;

}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;

}

.hide{
     
     display: none;
}

.tt{
    background-color: rgba(231, 207, 29, 0.66);
    
}